body{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}


.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-16{
    font-size: 16px!important;
}
.font-20{
    font-size: 20px!important;
}
.font-14{
    font-size: 14px!important;
}
.font-11{
    font-size: 11px!important;
}
.nav-logo {
    margin-top: -40px;
    width: 120px;
    margin-left: 30px;
    height: auto;
    transition: width 1s;
    transition-timing-function: linear;
}
.scroll-width{
    margin-top: 10px;
    width: 80px;
    margin-left: 30px;
    height: auto;
    transition: width 1s;
    transition-timing-function: linear;
}
.a-class{
    text-decoration: none;
    color: #594e43;
}

.no-ul{
    list-style: none;
}

.top-navbar{
    padding-top: 12px;
    padding-bottom: 0px;
}
.display-inline span{
    display: inline-block !important;
}

.navbar{
    padding-top: 0px!important;
}

.svg-img{
    width: 20px;
    height: 15px;
    fill:aquamarine;
    margin-left: 10px;
    margin-right: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close*/
 }
.owl-carousel .item img{
    width: 100%;
    height: auto;
}
.row{
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.owl-nav{
    display: none;
  }

  .owl-theme .owl-controls .owl-page span {
    margin-top : -10px!important;
}

.carousal-item-banner{
    width: 300px;
    top: 10%;
    left: 40%;
    position: absolute;
}
  
.goodness-section{ 
    background: #f3c71e;
    margin-top: 60px;
    width: 100%;
    position: relative;
    display: table;
}
  .mirchi{
    background: url(../images/parallax_obj_01.png) no-repeat;
    margin: 0;
    height: 388px;
    width: 240px;
    position: absolute;
    top: -300px;
    left: -4%;
    z-index: 8;
  }

  .loung {   
  background: url(../images/parallax_obj_12.png) no-repeat;
  margin: 0;
  height: 140px;
  width: 106px;
  position: absolute;
  top: 0;
  left: 2%;
  z-index: 7;
}

.chana {   
    background: url(../images/parallax_obj_03.png) no-repeat;
    margin: 0;
    height: 334px;
    width: 226px;
    position: absolute;
    top: -200px;
    right: 0%;
    z-index: 8;
  }

  .goodness-section .middle-img{
      width: 100%;
      margin-top: -40px;
      border-radius: 20px;
  }

  .vertical-center{
    display: grid;
    align-items: center;
  }

  .btn-half{
      width: 50%;
  }

.product-section{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(../images/product_bg_pattern.jpg) repeat;
}

.product-section h2{
    font-size: 1.5rem!important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product_title span {
    background: #d92a0f url(../images/icons.png) -9px -90px no-repeat;
    padding: 40px;
    border-radius: 1000px;
    display: inline-block;
}

.testimonial{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #faf6eb;
}

.testimonial h2{
    font-size: 1.5rem!important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial .card{
    background-color: #faf6eb;
    border: 1px solid #faf6eb;
}

.testimonial .card-title{
    color: #594e43;
    font-weight: bold;
}

.testimonial-img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#btn-back-to-top {
    position: relative;
    bottom: 0px;
    left : 45%;
    display: none;
    z-index: 99;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

footer{
    background: url(../images/all_footer.jpg) center center no-repeat;
    margin: 0 auto;
    height: 360px;
    width: 100%;
  }

  .contact-us{
    background: url(../images/contact_parallex_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0px;
    height: auto;
    width: 100%;
    margin-top: 185px;
    margin-bottom: 60px;
  }

  .contact-us .page-title h3:before {
    background: #d40000 url(../images/icons.png) -1107px -99px no-repeat;
    width: 80px;
    height: 78px;
    display: table;
    margin: 0 auto ;
    border-radius: 1000px;
    content: "";
}

.common-header{
    background: url(../images/contact_parallex_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0px;
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .common-header .page-title h3{
    padding-top: 50px!important;
  }




.about-us{
    background: url(../images/contact_parallex_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0px;
    height: auto;
    width: 100%;
    margin-top: 185px;
    margin-bottom: 60px;
  }

.about-us .page-title h3:before {
    background: #f3c71e url(../images/icons.png) -638px -98px no-repeat;
    width: 80px;
    height: 78px;
    display: table;
    margin: 0 auto ;
    border-radius: 1000px;
    content: "";
}


  .page-title{
    width: 86%;
    min-height: 130px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
    background: url(../images/recipe_mast_bg.jpg) repeat-x bottom left;
  }

  .contact-us-sub-section{
    margin-top: 50px;
    margin-bottom: 50px;
      padding: 40px 10px;
  }

  .contact-image-section{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px 30px;
  }

  .privacy .first-ol{
      padding-left: 0px;
  }
  .border-bottom{
      border-bottom: 1px solid #594e43;
  }
    .border-top{
        border-top: 1px solid #d7d7d7!important;
        padding-top: 10px;
    }

  
  .page-middle-section{
      padding-top: 50px;
      padding-bottom: 50px;
  }

  .notification1 .fa-shopping-cart{
      color: rgb(22 48 24);
  }

  .notification2 .fa-heart{
    color: rgb(22 48 24);
}

.notification3 .fa-shopping-cart{
    color: rgb(22 48 24);
}

  .notification1 span {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background: #ef4836;
    display: block;
    position: absolute;
    right: 80px;
    top: 20px;
}

.notification2 span {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background: #ef4836;
    display: block;
    position: absolute;
    right: 45px;
    top: 20px;   
}

.notification3 span {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background: #ef4836;
    display: block;
    position: absolute;
    right: 45px;
    top: 20px;   
}

.cart-img{
    width: 100px;
    height: 100px;
}


.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #eeeeee; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
    

    .bb-1{
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
    }

    .product-image-big img{
        width: 450px;
        height: 500px;
    }

    .review-card{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .review-card img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .review-content p{
        margin-bottom: 0px;
    }

    .product-nav .active{
        padding: 10px;
    }

    .product-nav .nav-link.active{
        background-color: #ef4836;
        color: #fff;
    }

    .tab-content{
        border: 1px solid #d3d3d3;
        padding: 10px;
    }

    .profile-pic img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .box-field{
        padding: 5px;
    }
    .exsting_address ul{
        list-style: none;
    }

    .recipes-card .card-img-top{
        width: 100%;
        height: 300px;
    }
    .product-card .card-img-top{
        width: 100%;
        height: 260px;
    }
    .product-card .card-title{
        font-size: 17px!important;
    }

 
/*****************
*********   Media Query start *******
**********/

@media screen and (max-width: 780px) {
    .product-image-big img{
        width: 100%;
        height: auto;
    }
    .mobile-left{
        text-align: left!important;
    }
    .mp-0{
        padding: 0px!important;
    }
}

@media screen and (max-width: 480px) {
    .mirchi{
        display: none;
    }
    .loung{
        display: none;
    }
    .chana{
        display: none;
    }
    .carousal-item-banner{
        width: 150px;
        top: 10%;
        left: 10%;
        position: absolute;
    }
    .top-navbar{
        display: none;
    }
    .nav-logo {
        margin-top: 0px;
        width: 80px;
        margin-left: 30px;
        height: auto;
    }
    .product-image-big img{
        width: 100%;
        height: auto;
    }
    .mobile-left{
        text-align: left!important;
    }
    .mp-0{
        padding: 0px!important;
    }
    .mp-1{
        padding: 8px!important;
    }
    .mm-0{
        margin: 0px!important;
    }   
    .m-center{
        text-align: center!important;
    } 
    .recipes-card .card-img-top{
        width: 100%;
        height: auto;
    }
    .product-card .card-img-top{
        width: 100%;
        height: auto;
    }
 
  }


  
